.App {
height: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.linksite {
  text-decoration: none;
}

.linksite:hover {
  text-decoration: none;
}

.inputu {
  padding-left: 10px;
  width: 10rem;
  height: 1.5rem;
  border-radius: 20px;
  font-size: 0.9rem;
  border-style: double;
  display: block;
  margin: auto;
}

.inputu:focus {
  outline: 0;
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.navdrop:hover{
  color: #0B58CA !important;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}