

.bg_p{
    color:#FFFFFF ;
    font-size: 1.5rem;
    }
    
    
.bg_container{
    
     /* The image used */
      
     /*full height*/
     height: 50%; 
     /* make enjoyable font-color */
     color: #1D4E56;
     /* padding */
     padding: 15%;
    
    }
    
